<section>
  <h1>About Me</h1>
  <p>
  I'm a college professor living in Brazil where I teach music
  composition, computer music, and computer science. In this blog I
  share my ideas about programming, Python, and Lisp. If you want to
  get in touch with me, email me
  at <a href="mailto:kroger@pedrokroger.net">kroger@pedrokroger.net</a>
  or follow me
  on <a href="https://twitter.com/#!/pedrokroger">twitter</a>. When
  I'm not in front of the computer I can be found playing the violin,
  hiking, traveling, or ambushing my cat.</p>

  <img src="/images/pages/profile.png" alt="Pedro Kroger" />
</section>
