<section>
  <h1>About Me</h1>
  <p>
    I'm a programmer, composer, teacher, writer, and entrepreneur who
    loves <a href="http://en.wikipedia.org/wiki/Serial_comma">Oxford commas</a> and traveling.
  </p>

  <p>
    If you want to get in touch, email me
    at <a href="mailto:kroger@pedrokroger.net">kroger@pedrokroger.net</a>
    or follow me
    on <a href="https://twitter.com/#!/pedrokroger">twitter</a>.
  </p>

  <p>
    When I'm not in front of the computer I can be found playing the
    violin, hiking, traveling, or ambushing my cat.
  </p>
  
  <img src="/images/pages/profile.png" alt="Pedro Kroger" />
</section>
