<section>
  <h1>Let's Keep in Touch</h1>
  <p>
    If you want to get in touch, <a href="mailto:kroger@pedrokroger.net">email me</a>
    or follow me on <a href="https://twitter.com/#!/pedrokroger">twitter</a>.

    <a href="https://twitter.com/pedrokroger" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @pedrokroger</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>
</section>
